@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* @tailwind base; */
@tailwind components;
@tailwind utilities;
 
@layer utilities{
    @font-face {
        font-family:fonty ;
        src: url(/font/Vazirmatn-RD-Bold.ttf);
    }
    body{
        font-family: fonty;
    }
    a{
        @apply  no-underline
    }
 
}
    